/shardmaster/Test/*.*/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
/kvraft/Test/*
/raft/Test/*
/raft/Custom_Test/*
/kvraft/Custom_test/*
/shardkv/Test/*
/shardkv/Custom_Test/*
/shardmaster/Test/*
/shardmaster/Custom_Test/*
